$border-radius: 10px;

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.cell {
  background: black;
  display: flex;
}

.wall-h {
  display: flex;
  align-self: center;
  width: 100%;
  height: 1px;
  background: red;
}

.wall-v {
  width: 1px;
  height: 100%;
  background: red;
  margin: 0 auto;
}

.wall-ur {
  display: flex;
  align-self: flex-end;
  width: 51%;
  height: 51%;
  border-right: 1px solid red;
  border-top: 1px solid red;
  border-radius: 0 $border-radius 0 0;
}

.wall-rb {
  width: 51%;
  height: 51%;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-radius: 0 0 $border-radius 0;
}

.wall-bl {
  display: flex;
  width: 50%;
  height: 51%;
  margin-left: auto;
  border-left: 1px solid red;
  border-bottom: 1px solid red;
  border-radius: 0 0 0 $border-radius;
}

.wall-lu {
  display: flex;
  align-self: flex-end;
  width: 51%;
  height: 51%;
  margin-left: auto;
  border-top: 1px solid red;
  border-left: 1px solid red;
  border-radius: $border-radius 0 0 0;
}

